.rooms {
    list-style: none;
}

.rooms li {
    display: block;
    margin: .15rem 0;
    padding: .5rem;
    cursor: pointer;
}

.rooms li:hover {
    background-color: var(--color-bg);
}

.selected {
    background-color: var(--color-bg);
}